.container {
  margin: 0 auto;
  position: relative;
  height: 500px;
  width: 500px;

  border: 1px solid black;
}

.child {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: seagreen;
  transform-origin: center;
}

.action {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
